body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


* {
  background-color: darkgray;
}

.title {
  display: flex;
  justify-content: center;
}

.newjob {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.newjob label {
  text-align: left;
  display: block;
}

.newjob h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}

.newjob input,
.newjob textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.newjob button {
  background: #f1356d;
  margin-bottom: 100px;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.job-list{
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.job-preview{
  width: 250px;

  border: 1px solid #000;
  border-radius: 10px;

  justify-content: center;
  align-items: center;
  margin: 15px;
  background-color: white;
}

.title{
  justify-content: center;
}

.job-preview h2{
  background-color: white;
  font-size: 15px;
  margin-left: 10px;
}

